{% extends 'base.html' %}

{% block content %}
<hr>
  {% if user.is_authenticated %}
    <div class="mycontent">
      <h5>Your account was not logged out properly last time!!!</h5>
      <hr>
      <a class="btn btn-outline-danger btn-lg" href="{% url 'logout' %}">Log Out first!</a>
    </div>
  {% else %}
  <div class="jumbotron">
    <h1>Welcome!!!</h1> <br>
    <strong>
      <p>
        This is an example of a website that let's you book tickets for current 
        movies at any hall near you. Advanced booking feature is not impleamented so 
        you will only be able to book tickets for today's shows.
      </p>
      <hr>
    </strong>
    <h2>If you are new to the website Sign up here:</h2>
    <a class="btn btn-outline-primary btn-sm" href="{% url 'signup' %}">Sign Up</a>
    <br><br>
    <h3>Already have an account? Log In here:</h3>
    <a  class="btn btn-outline-primary btn-sm" href="{% url 'movie_app:login' %}">Log In</a>
  </div>
  {% endif %} 
{% endblock %}
